# Python
venv/
__pycache__/
*.pyc

# Distribution / Packaging
*.egg-info/
dist/
build/
*.egg

# ML & Models
vibevoice/
checkpoints/
loras/
tensorboard/

# Project Specific
logs/
training_runs/
test_audio/
voices/
outputs/
data/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject